@{
    ViewData["Title"] = "Depoimentos";
}

<head>
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>


<section style="margin-top:8.2rem;">
    <div class="container-fluid p-0 mt-1 me-0 ms-0 mb-1">
        <div class="row justify-content-lg-center justify-content-sm-center p-5 depoimentos">
            <div class="col-12 col-md-8 mt-2">
                <div class="text-center">
                    <h1 class="depto_cliente display-4 text-uppercase text-light">Depoimentos</h1>
                    <h4 class="titulo_cliente text-light text-opacity-75 mb-3">O que dizem nossos clientes...</h4>

                </div>


            </div>
            <p class="freepik lead text-end text-secondary"><small>Designed by Freepik</small></p>
        </div>
        <div class="row justify-content-start mb-5 mt-lg-3 mt-md-2 mt-sm-2 p-5">
            <div class="col-lg-7 col-md-4 mt-3 px-5 kenburns-top">
                <p class="fs-5 text-secondary fw-bold text-opacity-75 fst-italic text-center">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus,
                    justo a pretium luctus, felis ante laoreet ligula, in aliquet lorem nulla id enim.
                    Integer ultrices blandit nunc, id semper risus accumsan eget. Sed ornare
                    consectetur nulla, et bibendum purus lobortis vehicula."


                </p>
                <figure class="text-end fs-5 text-secondary fw-bold text-opacity-75
                                               border-bottom border-secondary border-4">
                    <blockquote class="blockquote">
                        <p>João Silva.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Cliente satisfeito
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-5 col-md-4">
                <img class="img-fluid rounded" alt="depoimento 1" src="~/Img/depoimento_1.png" />
                <p class="freepik lead text-secondary"><small>Designed by Freepik</small></p>
            </div>
            
        </div>

        <div class="row justify-content-end mb-5 mt-lg-3 mt-md-2 mt-sm-2 p-5">
            <div class="col-lg-5 col-md-4">
                <img class="img-fluid rounded" alt="depoimento 1" src="~/Img/depoimento_2.png" />
                <p class="freepik lead text-secondary"><small>Designed by Freepik</small></p>
            </div>
            <div class="col-lg-7 col-md-4 mt-3 px-5 kenburns-top">
                <p class="fs-5 text-secondary fw-bold text-opacity-75 fst-italic text-center">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus,
                    justo a pretium luctus, felis ante laoreet ligula, in aliquet lorem nulla id enim.
                    Integer ultrices blandit nunc, id semper risus accumsan eget. Sed ornare
                    consectetur nulla, et bibendum purus lobortis vehicula."


                </p>
                <figure class="text-end fs-5 text-secondary fw-bold text-opacity-75
                                               border-bottom border-secondary border-4">
                    <blockquote class="blockquote">
                        <p>João Silva.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Cliente satisfeito
                    </figcaption>
                </figure>

            </div>
           

        </div>



        <!--divs p/ auxiliar na responsividade do footer-->
        <div class="d-block d-md-none" style="height: 650px;"></div>
        <div class="d-none d-md-block d-lg-none" style="height: 230px;"></div>
        <div class="d-none d-lg-block" style="height: 282px;"></div>


        

    </div>

</section>
