@{
    ViewData["Title"] = "Depoimentos";
}

<head>
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/cliente.css"/>
</head>


<section style="margin-top:8.2rem;">
    <div class="container-fluid p-0 mt-1 me-0 ms-0 mb-1">
        <div class="row justify-content-lg-center justify-content-sm-center p-5 depoimentos">
            <div class="col-12 col-md-8 mt-2">
                <div class="text-center">
                    <h1 class="depto_cliente display-4 text-uppercase text-light">Depoimentos</h1>
                    <h4 class="titulo_cliente text-light text-opacity-75 mb-3">O que dizem nossos clientes...</h4>

                </div>


            </div>
            <p class="freepik lead text-end text-secondary"><small>Designed by Freepik</small></p>
        </div>


        <div class="row justify-content-start p-5 scale-in-hor-center">
            <div class="col-lg-8 col-md-4 m-0">
                <p class="fs-5 text-secondary fw-bold text-opacity-75 fst-italic text-center p-5">
                    "A Soma é de longe, o melhor parceiro de software que já tivemos. 
                    Não só pela qualidade do produto final e do preço, como também pelo suporte à revenda. 
                    A Soma é confiável, respeita a revenda e a área técnica, e procura entender o mercado. 
                    Esses são diferenciais muito importantes".


                </p>
                <figure class="text-end fs-6 text-secondary fw-bold text-opacity-75
                                               border-bottom border-secondary border-4">
                    <blockquote class="blockquote">
                        <p>Vale do Sol Ltda | Anderson</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Cliente satisfeito
                    </figcaption>
                </figure>

               

            </div>
            <div class="col-lg-4 col-md-4 pt-5">
                <img class="img-fluid rounded position-relative" alt="depoimento 1" src="~/Img/depoimento_1.png" />
                <p class="freepik lead text-secondary"><small>Designed by Freepik</small></p>
            </div>
            
            
        </div>



        <div class="row justify-content-end mb-4 scale-in-hor-center-2">
            <div class="col-lg-5 col-md-4 pt-4">
                <img class="img-fluid rounded" alt="depoimento 1" src="~/Img/depoimento_2.png" />
                <p class="freepik lead text-secondary"><small>Designed by Freepik</small></p>
            </div>
            <div class="col-lg-7 col-md-4 pt-5">
                <p class="fs-5 text-secondary fw-bold text-opacity-75 fst-italic text-center">
                    "A Soma está sempre em constante evolução e supera as expectativas dos clientes.
                     Estavamos precisando difundir nossos serviços e produtos e com a SOMA conseguimo isso,
                     através de um serviço de marketing digital realizado por eles!".


                </p>
                <figure class="text-end fs-6 text-secondary fw-bold text-opacity-75
                                               border-bottom border-secondary border-4">
                    <blockquote class="blockquote">
                        <p>Super Calha Ltda | Juliano Pereira</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Cliente satisfeito
                    </figcaption>
                </figure>

            </div>
           

        </div>



        <!--divs p/ auxiliar na responsividade do footer-->
        <div class="d-block d-md-none" style="height: 650px;"></div>
        <div class="d-none d-md-block d-lg-none" style="height: 230px;"></div>
        <div class="d-none d-lg-block" style="height: 282px;"></div>


        

    </div>

</section>
