@{
    ViewData["Title"] = "Home Page";
}

<head>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<div class="container-fluid p-0 mx-0" style="margin-top:8.2rem;">
    <div class="row">
        <div class="col">
            <main>
              
            

                <!--Seção Informação-->
                <section>
                    <div class="container-fluid informacao" id="informacao">
                        <div class="row justify-content-center d-flex">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                     
                                <h2 class="text-center display-4 text-light fw-semibold">
                                    <strong>
                                    A solução online para a gestão que a sua empresa precisa!
                                    </strong>
                                </h2>
                                <p class="text-center fs-4 text-light">
                                    Ficou interessado? Fale com a gente.
                                </p>
                              
                                  
                              
                            </div>
                           

                        </div>
                        <div class="row justify-content-center p-3 my-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                <button asp-action="" asp-controller="" asp-area="" type="button" 
                                class="btn_zap btn btn-success rounded-pill">
                                        
                                    <i class="bi bi-whatsapp mx-1 fst-normal">
                                        (35)98898-1198
                                    </i>
                                    

                                </button>
                                <p class="mt-3 fs-5 text-light fw-semibold">Fale pelo WhatsApp</p>

                            </div>
                            <a class="text-end text-decoration-none">Designed by Freepik</a>
                        </div>
                       
                     </div>
                    
                </section>
                <!--Fim Seção informação-->

                <!--Seção informação itens-->
                <div class="container-fluid informacao_itens" id="informacao_itens">
                    <div class="row">
                        <div class="col-12 col-md-6 text-center text-md-center justify-content-lg-start
                                         justify-content-md-center p-2">

                            <ul class="p-2">

                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">


                                    <i class="bi bi-display display-3">

                                    </i>
                                    <p class="fs-3 mb-0 text-decoration-underline">


                                        Software
                                    </p>



                                    <p class="text-center fs-5 py-4">

                                        Software especializado na gestão de clientes, estoque e vendas.
                                        Tornando seu dia a dia mais fácil.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">
                                    <i class="bi bi-headphones display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Suporte
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        Na Soma é assim, você solicita o atendimento e nossa central e
                                        é direcionado a um analista que lhe atenderá de forma simples e rápida.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">
                                    <i class="bi bi-card-list display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Treinamento
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        O mercado é uma disputa, onde os vencedores são aqueles com maior
                                        capacidade de competir. Treine sua equipe com a Soma.
                                    </p>
                                </li>
                            </ul>

                        </div>
                        <div class="col-12 col-md-6 text-center justify-content-lg-end
                                        justify-content-md-center p-2">
                            <ul class="p-2">

                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">

                                    <i class="bi bi-code-slash display-3"></i>

                                    <p class="fs-3 mb-0 text-decoration-underline">

                                        Sites
                                    </p>

                                    <p class="text-center fs-5 py-4">

                                        Desenvolvemos o site da sua empresa usando tecnologias atuais para
                                        a sua empresa se destacar no mercado digital.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">
                                    <i class="bi bi-file-text display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Aplicativos
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        Desenvolvemos a Aplicativo ideal para seu negócio.
                                        O Aplicativo é uma ferramenta necessária nos dias atuais.
                                        É o seu negócio na palma de sua mão.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">
                                    <i class="bi bi-rocket-takeoff display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Marketing Digital
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        Em face do cenário atual qualquer empresa necessita se destacar no mercado.
                                        O marketing digital é uma ferramenta essencial para isso.
                                    </p>
                                </li>
                            </ul>



                        </div>


                    </div>

                </div>
                      
                <!--Fim seção informação itens-->
                <!--Seção Home-->
               
                <!--Fim seção Home-->
            
              
              
                <!--Seção Depoimentos-->
                <section>
                    <div class="container-fluid p-0 mt-1 me-0 ms-0" id="depoimentos">
                        <div class="row justify-content-lg-center justify-content-sm-center p-5 depoimentos">
                            <div class="col-12 col-md-8 mt-2">
                                <div class="text-center">
                                    <h2 class="depto_cliente fs-2 text-uppercase text-light text-opacity-75">Depoimentos</h2>
                                    <h4 class="titulo_cliente text-light text-opacity-75 mb-3">O que dizem nossos clientes...</h4>

                                </div>
                                <div id="carouselExampleAutoplaying" class="carousel slide mb-5" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="row">
                                                <div class="col-lg-12 text-start">
                                                    
                                                    <p class="fs-5 mb-3 lh-lg fw-bold text-light">
                                                        <i class="bi bi-check-all fs-1 text-light"></i>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Morbi varius quam id commodo aliquam. Vestibulum dignissim vitae augue quis
                                                        vehicula. Cras pulvinar pellentesque turpis ut elementum.
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Morbi varius quam id commodo aliquam. Vestibulum dignissim vitae augue quis
                                                        vehicula. Cras pulvinar pellentesque turpis ut elementum.
                                                        
                                                    </p>
                                                    <h4 class="text-end fs-2 text-light">João da Silva</h4>
                                                    <p class="name fs-5 fw-bolder fst-italic text-uppercase text-end text-light">#Cliente Satisfeito</p>
                                                </div>

                                            </div>
                                            
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-12 text-star">
                                                    
                                                    <p class="fs-5 mb-3 lh-lg fw-bold text-light">
                                                        <i class="bi bi-check-all fs-1 text-light"></i>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Morbi varius quam id commodo aliquam. Vestibulum dignissim vitae augue quis
                                                        vehicula. Cras pulvinar pellentesque turpis ut elementum.
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Morbi varius quam id commodo aliquam. Vestibulum dignissim vitae augue quis
                                                        vehicula. Cras pulvinar pellentesque turpis ut elementum.
                                                    </p>
                                                    <h4 class="text-end fs-2 text-light">Maria da Silva</h4>
                                                    <p class="name fs-5 fw-bolder fst-italic text-uppercase text-end text-light">#Cliente Satisfeito</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-12 text-start">
                                                   
                                                    <p class="fs-5 mb-3 lh-lg fw-bold text-light">
                                                        <i class="bi bi-check-all fs-1 text-light"></i>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Morbi varius quam id commodo aliquam. Vestibulum dignissim vitae augue quis
                                                        vehicula. Cras pulvinar pellentesque turpis ut elementum.
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Morbi varius quam id commodo aliquam. Vestibulum dignissim vitae augue quis
                                                        vehicula. Cras pulvinar pellentesque turpis ut elementum.
                                                    </p>
                                                    <h4 class="text-end fs-2 text-light">Carla da Silva</h4>
                                                    <p class="name fs-5 fw-bolder fst-italic text-uppercase text-end text-light">#Cliente Satisfeito</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev text-light" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next text-light" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                               
                            </div>

                            <a class="text-end text-decoration-none">Designed by Freepik</a>
                        </div>
                       
                    </div>
                   
                </section>
                <!--Fim Seção Depoimentos-->
                <div>
                    <a class="text-primary text-decoration-none fw-bolder
                                          icon-link icon-link-hover" href="#informacao">
                        <i class="bi bi-arrow-left"></i>
                        Voltar ao topo
                    </a>
                </div>
        </main>
        </div>
        
    </div>
    <!--divs p/ auxiliar na responsividade do footer-->
    <div class="d-block d-md-none" style="height: 600px;"></div>
    <div class="d-none d-md-block d-lg-none" style="height: 200px;"></div>
    <div class="d-none d-lg-block" style="height: 248px;"></div>

</div>
