@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<div class="container-fluid p-0 mx-0" style="margin-top:8.2rem;">
    <div class="row">
        <div class="col">
            <main>
              
            

                <!--Seção Informação-->
                <section>
                    <div class="container-fluid informacao" id="informacao">
                        <div class="row justify-content-center d-flex">
                            <div class="col-lg-8 col-md-8 col-sm-6 ">
                                     
                                <h2 class="text-center display-4 text-light fw-semibold">
                                    <strong>
                                    A solução online para a gestão que a sua empresa precisa!
                                    </strong>
                                </h2>
                                <p class="text-center fs-4 text-light">
                                    Ficou interessado? Fale com a gente.
                                </p>
                              
                                  
                              
                            </div>
                           

                        </div>
                        <div class="row justify-content-center p-3 my-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                <a href="https://api.whatsapp.com/send?phone=5535988981198&text=Ol%C3%A1%2C%20gostaria%20de%20um%20atendimento." target="_blank"
                                   class="btn_zap btn btn-success rounded-pill fw-bolder">
                                    <i class="bi bi-whatsapp mx-1"></i>
                                    (35)98898-1198
                                </a>
                              
                                <p class="mt-3 fs-5 text-light fw-semibold">Fale pelo WhatsApp</p>

                            </div>
                            <p class="freepik lead text-end text-secondary"><small>Designed by Freepik</small></p>
                           
                        </div>

                        <!--Seção Cookies-->
                        <div class="row text-center p-3 rounded fixed-bottom mb-1 cookies-msg"
                             style="background-color:#8c8c8c" id="cookies-msg">
                            <div>
                                <p class="text-center fs-5 fw-bolder">
                                    Nós usamos cookies e outras tecnologias semelhantes para melhorar a experiência
                                    de navegação.Ao continuar navegando,você concorda com a nossa
                                    <a class="text-decoration-none" asp-action="Privacidade" asp-controller="Home" asp-area="">política de privacidade.</a>
                                </p>
                            </div>
                            <div>
                                <button onclick="aceito()" class="btn btn-primary btn-cookies">
                                    Concordo
                                </button>
                            </div>

                        </div>
                        <!--Fim Seção Cookies-->

                     </div>
                     
                    
                </section>
                <!--Fim Seção informação-->

                <!--Seção informação itens-->
                <div class="container-fluid informacao_itens" id="informacao_itens">
                    <div class="row">

                        <div class="segmento justify-content-center">
                            <h2 class="fs-1 text-center mb-4 mt-5" style="color:#00004d;">
                                Veja abaixo o que fazemos de melhor...
                            </h2>



                        </div>
                        <div class="col-12 col-md-6 text-center text-md-center justify-content-lg-start
                                         justify-content-md-center p-2">

                            <ul class="p-2">

                                <li class="list-unstyled d-block informacao_itens_list"
                                    data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">


                                    <i class="bi bi-display display-3">

                                    </i>
                                    <p class="fs-3 mb-0 text-decoration-underline">


                                        Software
                                    </p>



                                    <p class="text-center fs-5 py-4">

                                        Software especializado na gestão de clientes, estoque e vendas.
                                        Tornando seu dia a dia mais fácil.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list"
                                    data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                                    <i class="bi bi-headphones display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Suporte
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        Na Soma é assim, você solicita o atendimento a nossa central e
                                        é direcionado a um analista que lhe atenderá de forma simples e rápida.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list"
                                    data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                                    <i class="bi bi-card-list display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Treinamento
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        No atual cenário mercadológico contar com profissionais capacitados
                                        é essencial para o seu negócio. Treine sua equipe com a Soma.
                                    </p>
                                </li>
                            </ul>

                        </div>
                        <div class="col-12 col-md-6 text-center justify-content-lg-end
                                        justify-content-md-center p-2">
                            <ul class="p-2">

                                <li class="list-unstyled d-block informacao_itens_list"
                                    data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">

                                    <i class="bi bi-code-slash display-3"></i>

                                    <p class="fs-3 mb-0 text-decoration-underline">

                                        Sites
                                    </p>

                                    <p class="text-center fs-5 py-4">

                                        Desenvolvemos o site da sua empresa usando tecnologias atuais para
                                        a sua empresa se destacar no mercado digital.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list"
                                    data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                                    <i class="bi bi-file-text display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Aplicativos
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        Desenvolvemos a Aplicativo ideal para seu negócio.
                                        O Aplicativo é uma ferramenta necessária nos dias atuais.
                                        É o seu negócio na palma de sua mão.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list" 
                                    data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                                    <i class="bi bi-rocket-takeoff display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Marketing Digital
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        Em face do cenário atual qualquer empresa necessita se destacar no mercado.
                                        O marketing digital é uma ferramenta essencial para isso.
                                    </p>
                                </li>
                            </ul>



                        </div>


                    </div>

                </div>
                      
                <!--Fim seção informação itens-->

                <!--Seção Segmentos-->
                <section>

                    <div class="container-fluid p-0 me-0 ms-0" id="home">

                        <div class="row justify-content-center mb-3">


                            <div class="col-xl-12 col-lg-4 col-md-8 col-sm-12">
                                <h2 class="segmento_title fs-1 text-center text-uppercase mb-5 mt-5">
                                    Segmentos em que atuamos
                                </h2>



                            </div>
                          
                        </div>
                        <div class="row mb-0">

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 d-flex
                                    align-items-md-center justify-content-center mb-0">

                                <ul class="p-2 text-start">
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#autopecas">
                                            <i class="bi bi-car-front fs-4 mx-2"></i>
                                            Auto Peças
                                        </button>

                                    </li>
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#hotel">
                                            <i class="bi bi-building-fill fs-4 mx-2"></i>
                                            Hotel
                                        </button>

                                    </li>
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#ferragens">
                                            <i class="bi bi-hammer fs-4 mx-2"></i>
                                            Ferragens
                                        </button>

                                    </li>
                                    
                                </ul>

                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 d-flex
                                    align-items-md-center justify-content-center mb-0">

                                <ul class="p-2 text-start">
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#industria">
                                            <i class="bi bi-buildings-fill fs-4 mx-2"></i>
                                            Industria
                                        </button>

                                    </li>
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#construcao">
                                            <i class="bi bi-house-fill fs-5 mx-2"></i>
                                            Materiais de Construção
                                        </button>

                                    </li>
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#eletrica">
                                            <i class="bi bi-lightning-fill fs-4 mx-2"></i>
                                            Elétrica
                                        </button>

                                    </li>
                                   
                                </ul>

                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 d-flex
                                    align-items-md-center justify-content-center mb-0">

                                <ul class="p-2 text-start">
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#varejo">
                                            <i class="bi bi-handbag-fill fs-4 mx-2"></i>
                                            Varejo
                                        </button>

                                    </li>
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#confeccao">
                                            <i class="bi bi-bag-fill fs-4 mx-2"></i>
                                            Confecções
                                        </button>

                                    </li>
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#informatica">
                                            <i class="bi bi-floppy2-fill fs-4 mx-2"></i>
                                            Informática
                                        </button>

                                    </li>
                                   
                                </ul>

                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 d-flex
                                    align-items-md-center justify-content-center mb-0">

                                <ul class="p-2 text-start">
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#papelaria">
                                            <i class="bi bi-pencil-fill fs-4 mx-2"></i>
                                            Papelaria
                                        </button>

                                    </li>
                                    <li class="list-unstyled mb-5">

                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#perfumaria">
                                            <i class="bi bi-hearts fs-4 mx-2"></i>
                                            Perfumaria
                                        </button>

                                    </li>
                                    

                                    <li class="list-unstyled mb-5">
                                       
                                        <button class="btn_segmento_item fs-5  btn-link fw-bolder text-decoration-none
                                            text-sm-center" type="button" data-bs-toggle="modal" data-bs-target="#farmacia">
                                            <i class="bi bi-capsule-pill fs-4 mx-2"></i>
                                             Farmácia
                                        </button>
                                        
                                    </li>
                                </ul>

                            </div>
                            
                            


                        </div>







                    </div>

                </section>
                <!--Fim Seção Segmentos-->
                

                <!--Inicio seção clientes-->
                <section>
                    <div class="container-fluid clientes">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 text-center p-5 mt-5">
                                <div class="mb-5">
                                    <i class="bi bi-heart-fill display-3 text-danger"></i>
                                    <h1 class="fw-bold opacity-75 display-6">Clientes felizes em toda a região!</h1>
                                    <h4 class="fw-bold opacity-75">Saiba o que nossos clientes pensam sobre nossa empresa.</h4>
                                </div>
                              
                                <div class="d-lg-inline-block d-md-block">
                                    <a asp-action="Clientes" asp-controller="Home" asp-area=""
                                       class=" btn btn-outline-danger mx-2 my-2 fw-bolder">
                                        Quero conhecer !
                                    </a>
                                    <a asp-action="Contato" asp-controller="Contact" asp-area=""
                                       class=" btn btn-outline-dark fw-bolder">
                                        Quero ser um cliente !
                                    </a>
                                </div>
                         
                            
                        </div>

                       
                    </div>
                    
                </section>
                <!--Fim seção clientes-->

                <!--Inicio seção sobreNos-->
                <section id="quemSomos">
                    <div class="container-fluid">
                        <div class="row align-items-center p-lg-5 p-md-4">
                            <div class="col-lg-6 col-md-12 quemSomos_title">
                                <h1 class="text-center text-light display-1 fw-bolder p-md-2 p-lg-5">Quem somos.</h1>
                            </div>
                            <div class="col-lg-6 col-md-12 quemSomos_content">
                                <p class="text-center text-light fw-bolder fs-4 p-md-3 p-lg-3">
                                    Somos uma empresa que desenvolve soluções tecnológicas para a 
                                    gestão de micro e pequenas 
                                    empresas do comércio.

                                    Nossa especialidade é facilitar o dia a dia de diversos segmentos, 
                                    entregando excelência em automação comercial, 
                                    sempre atentos às novidades e necessidades dos usuários.

                                    Prezamos pelo compromisso que assumimos com nossos clientes. 
                                    Nossa equipe é empenhada em oferecer o melhor atendimento e 
                                    desenvolver o que há de mais
                                    moderno em gestão comercial.
                                </p>
                            </div>
                            <p class="freepik lead text-end text-secondary"><small>Designed by Freepik</small></p>
                        </div>
                       
                    </div>
                    
                </section>
                <!--Fim seção sobreNos-->

                
            </main>
        </div>
        
    </div>

   

    <!--divs p/ auxiliar na responsividade do footer-->
    <div class="d-block d-md-none" style="height: 690px;"></div>
    <div class="d-none d-md-block d-lg-none" style="height: 230px;"></div>
    <div class="d-none d-lg-block" style="height: 282px;"></div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
           duration:1000
        });
    </script>
   
</div>

<!--Seção modal segmentos-->
<div>
    <!--Modal Auto Peças-->
    <div class="modal fade" id="autopecas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconAutoPecas.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        GESTÃO PARA LOJAS DE AUTOPEÇAS.
                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Automatiza gestão de estoque da empresa.</li>
                        <li class="mb-1">Alteração de valores em massa.</li>
                        <li class="mb-1">Busca pela característica do item.</li>
                        <li class="mb-1">Controle os débitos do cliente na loja, checando o histórico antes da venda.</li>
                        <li class="mb-1">Histórico de vendas para os clientes.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   
                </div>
            </div>
        </div>
    </div>

    <!--Fim modal Auto peças-->

    <!--Modal Hotel-->
    <div class="modal fade" id="hotel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconHotel.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Da recepção até o setor administrativo, mais controle das reservas, acomodações e hospedagens! .
                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Soluções para gestão financeira e fiscal.</li>
                        <li class="mb-1">Gestão de todo o front-office da recepção.</li>
                        <li class="mb-1">Reservas e vendas.</li>
                        <li class="mb-1">Relatórios painéis de dashboards.</li>
                        <li class="mb-1">Rotinas de governança e tarefas.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   
                </div>
            </div>
        </div>
    </div>

    <!--fim modal Hotel-->

    <!--Modal Ferragens-->
    <div class="modal fade" id="ferragens" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconFerragens.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Controle sua loja de ferragens com um sistema completo e fácil de usar.
                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Diversos relatórios.</li>
                        <li class="mb-1">Emissão de carnês e duplicatas.</li>
                        <li class="mb-1">Emissão de documentos fiscais.</li>
                        <li class="mb-1">Impresso de etiquetas de produtos.</li>
                        <li class="mb-1">Relatórios empresariais.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   
                </div>
            </div>
        </div>
    </div>

    <!--Fim modal Ferragens-->

    <!--Modal Industria-->
    <div class="modal fade" id="industria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconIndustria.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Automação inteligente para aumentar a eficiência do negócio.
                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Custo de comercialização.</li>
                        <li class="mb-1">Fases de produção.</li>
                        <li class="mb-1">Mão de obra.</li>
                        <li class="mb-1">Estoques físicos.</li>
                        <li class="mb-1">Orçamento para produtos personalizados, com simulador de custo e preço de venda.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                </div>
            </div>
        </div>
    </div>

    <!--Fim modal Industria-->

    <!--Modal Construção-->
    <div class="modal fade" id="construcao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconConstrucao.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Controle administrativo, financeiro, de estoque, PDV, compra e venda.
                        Para sua Loja de Materiais de Construção.
                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Cadastro dos produtos por marca e grupos.</li>
                        <li class="mb-1">Controle financeiro das contas a pagar e receber.</li>
                        <li class="mb-1">Diversos relatórios.</li>
                        <li class="mb-1">Emissão de carnês e duplicatas.</li>
                        <li class="mb-1">Limite de crédito com controle de inadimplentes.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   
                </div>
            </div>
        </div>
    </div>
    <!--Fim modal construção-->

    <!--Modal Eletrica-->
    <div class="modal fade" id="eletrica" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconEletrica.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Esteja um passo a frente com nossa solução na sua Loja de Materiais Elétricos
                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Cadastro dos produtos por marca, série, lotes e grupos.</li>
                        <li class="mb-1">Controle financeiro das contas a pagar e receber.</li>
                        <li class="mb-1">Diversos relatórios.</li>
                        <li class="mb-1">Personalização de perfis de usuários.</li>
                        <li class="mb-1">Limite de crédito com controle de inadimplentes.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
            </div>
        </div>
    </div>
    <!--fim modal Eletrica-->

    <!--Modal Varejo-->
    <div class="modal fade" id="varejo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconVarejo.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Soluções de fácil utilização, adequadas a diversos tipos de serviços do comércio varejista.
                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Cadastro dos produtos por marca, série e lotes.</li>
                        <li class="mb-1">Controle financeiro das contas a pagar e receber.</li>
                        <li class="mb-1">Diversos relatórios.</li>
                        <li class="mb-1">Personalização de perfis de usuários.</li>
                        <li class="mb-1">Limite de crédito com controle de inadimplentes.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
            </div>
        </div>
    </div>
    <!--Fim modal Varejo-->

    <!--Modal Confecoes-->
    <div class="modal fade" id="confeccao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconConfeccoes.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Financeiro completo, cadastros e descrição do produto e emissão de etiquetas com 
                        código de barras para sua loja de confecção.
                        
                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Cadastro dos calçados por marca, grade e grupos.</li>
                        <li class="mb-1">Controle financeiro das contas a pagar e receber.</li>
                        <li class="mb-1">Diversos relatórios.</li>
                        <li class="mb-1">Personalização de perfis de usuários.</li>
                        <li class="mb-1">Limite de crédito com controle de inadimplentes.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
            </div>
        </div>
    </div>
    <!--Fim modal Confeccoes-->

    <!--Modal Informática-->
    <div class="modal fade" id="informatica" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconInformatica.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        AS MELHORES FERRAMENTAS PARA FAZER SEU NEGÓCIO EVOLUIR.
                        Ideal para a sua empresa de informática.
                        
                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Cadastro de objetos (equipamento).</li>
                        <li class="mb-1">Controle financeiro das contas a pagar e receber.</li>
                        <li class="mb-1">Relatório das OS.</li>
                        <li class="mb-1">Relatório de OS por cliente.</li>
                        <li class="mb-1">Limite de crédito com controle de inadimplentes.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
            </div>
        </div>
    </div>
    <!--Fim modal Informática-->

    <!--Modal Papelaria-->
    <div class="modal fade" id="papelaria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconPapelaria.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Diversas ferramentas que darão total apoio na gestão da sua Papelaria, 
                        permitindo operações e atendimentos mais rápidos.

                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Impressão de etiquetas de produtos.</li>
                        <li class="mb-1">Controle financeiro das contas a pagar e receber.</li>
                        <li class="mb-1">Ponto de venda dinâmico e fácil de operar.</li>
                        <li class="mb-1">Sistema de emissão de boletos.</li>
                        <li class="mb-1">Limite de crédito com controle de inadimplentes.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
            </div>
        </div>
    </div>
    <!--Fim modal Papelaria-->

    <!--Modal Perfumaria-->
    <div class="modal fade" id="perfumaria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconPerfumaria.png" style="width:200px" />
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Organize a sua Perfumaria com um sistema completo.

                    </h1>


                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Impressão de etiquetas de produtos.</li>
                        <li class="mb-1">Controle financeiro das contas a pagar e receber.</li>
                        <li class="mb-1">Ponto de venda dinâmico e fácil de operar.</li>
                        <li class="mb-1">Sistema de emissão de boletos.</li>
                        <li class="mb-1">Limite de crédito com controle de inadimplentes.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
            </div>
        </div>
    </div>
    <!--Fim modal Perfumaria-->



    <!--Modal Farmácia-->
    <div class="modal fade" id="farmacia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                   
                    <div class="mb-2">
                        <img class="img-fluid" src="~/Img/iconFarmacai.png" style="width:200px"/>
                    </div>
                    <h1 class="modal-title fs-4" id="exampleModalLabel" style="color:#000080;">
                        Economize tempo e melhore a gestão de sua farmácia.
                    </h1>
                    
                   
                </div>
                <div class="modal-body fw-bolder text-center">
                    <ul class="list-unstyled fs-5 text-secondary fw-bolder">
                        <li class="mb-1">Cadastro de medicamentos por lote.</li>
                        <li class="mb-1">Cadastros simplificados.</li>
                        <li class="mb-1">Controle de entregas.</li>
                        <li class="mb-1">Geração de valores no contas a pagar e receber.</li>
                        <li class="mb-1">Relatório de compra de medicamentos controlados.</li>
                        <li>e muito mais...</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   @*  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button> *@
                    
                </div>
            </div>
        </div>
    </div>
    <!--Fim modal farmácia-->


</div>
