@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />

   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<div class="container-fluid p-0 mx-0" style="margin-top:8.2rem;">
    <div class="row">
        <div class="col">
            <main>
              
            

                <!--Seção Informação-->
                <section>
                    <div class="container-fluid informacao" id="informacao">
                        <div class="row justify-content-center d-flex">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                     
                                <h2 class="text-center display-4 text-light fw-semibold">
                                    <strong>
                                    A solução online para a gestão que a sua empresa precisa!
                                    </strong>
                                </h2>
                                <p class="text-center fs-4 text-light">
                                    Ficou interessado? Fale com a gente.
                                </p>
                              
                                  
                              
                            </div>
                           

                        </div>
                        <div class="row justify-content-center p-3 my-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                <button asp-action="" asp-controller="" asp-area="" type="button" 
                                class="btn_zap btn btn-success rounded-pill">
                                        
                                    <i class="bi bi-whatsapp mx-1 fst-normal">
                                        (35)98898-1198
                                    </i>
                                    

                                </button>
                                <p class="mt-3 fs-5 text-light fw-semibold">Fale pelo WhatsApp</p>

                            </div>
                            <p class="freepik lead text-end text-secondary"><small>Designed by Freepik</small></p>
                        </div>
                       
                     </div>
                    
                </section>
                <!--Fim Seção informação-->

                <!--Seção informação itens-->
                <div class="container-fluid informacao_itens" id="informacao_itens">
                    <div class="row">

                        <div class="segmento justify-content-center">
                            <h2 class="fs-1 text-center mb-4 mt-5" style="color:#00004d;">
                                Veja abaixo o que fazemos de melhor...
                            </h2>



                        </div>
                        <div class="col-12 col-md-6 text-center text-md-center justify-content-lg-start
                                         justify-content-md-center p-2">

                            <ul class="p-2">

                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">


                                    <i class="bi bi-display display-3">

                                    </i>
                                    <p class="fs-3 mb-0 text-decoration-underline">


                                        Software
                                    </p>



                                    <p class="text-center fs-5 py-4">

                                        Software especializado na gestão de clientes, estoque e vendas.
                                        Tornando seu dia a dia mais fácil.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">
                                    <i class="bi bi-headphones display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Suporte
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        Na Soma é assim, você solicita o atendimento e nossa central e
                                        é direcionado a um analista que lhe atenderá de forma simples e rápida.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">
                                    <i class="bi bi-card-list display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Treinamento
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        O mercado é uma disputa, onde os vencedores são aqueles com maior
                                        capacidade de competir. Treine sua equipe com a Soma.
                                    </p>
                                </li>
                            </ul>

                        </div>
                        <div class="col-12 col-md-6 text-center justify-content-lg-end
                                        justify-content-md-center p-2">
                            <ul class="p-2">

                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">

                                    <i class="bi bi-code-slash display-3"></i>

                                    <p class="fs-3 mb-0 text-decoration-underline">

                                        Sites
                                    </p>

                                    <p class="text-center fs-5 py-4">

                                        Desenvolvemos o site da sua empresa usando tecnologias atuais para
                                        a sua empresa se destacar no mercado digital.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">
                                    <i class="bi bi-file-text display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Aplicativos
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        Desenvolvemos a Aplicativo ideal para seu negócio.
                                        O Aplicativo é uma ferramenta necessária nos dias atuais.
                                        É o seu negócio na palma de sua mão.
                                    </p>
                                </li>
                                <li class="list-unstyled d-block informacao_itens_list scale-up-center">
                                    <i class="bi bi-rocket-takeoff display-3"></i>
                                    <p class="fs-3 mb-0 text-decoration-underline">
                                        Marketing Digital
                                    </p>
                                    <p class="text-center fs-5 py-4">
                                        Em face do cenário atual qualquer empresa necessita se destacar no mercado.
                                        O marketing digital é uma ferramenta essencial para isso.
                                    </p>
                                </li>
                            </ul>



                        </div>


                    </div>

                </div>
                      
                <!--Fim seção informação itens-->

                <!--Seção Segmentos-->
                <section>

                    <div class="container-fluid p-0 me-0 ms-0" id="home">

                        <div class="row justify-content-center mb-3">


                            <div class="segmento col-xl-12 col-lg-4 col-md-8 col-sm-12">
                                <h2 class="segmento_title fs-1 text-center text-uppercase mb-1 mt-5">
                                    Segmentos em que atuamos
                                </h2>



                            </div>
                            <div class="segmento text-center col-xl-12 col-lg-4 col-md-8 col-sm-12 mt-4 mb-4">
                                <a asp-action="" asp-controller="" asp-area=""
                                   class="btn_segmento btn rounded-pill pe-4 ps-4 fw-bold">
                                    Saiba mais...
                                </a>

                            </div>



                        </div>
                        <div class="row mb-2">

                            <div class="segmento col-xl-3 col-lg-3 col-md-3 col-sm-6 d-flex
                                    align-items-md-center justify-content-center mb-0">

                                <ul class="p-2">
                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class=" bi bi-car-front fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Auto Peças</p>

                                    </li>

                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-building-fill fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Hotel</p>

                                    </li>

                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-hammer fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Ferragens</p>

                                    </li>
                                </ul>

                            </div>

                            <div class="segmento col-xl-3 col-lg-3 col-md-3 col-sm-6 d-flex
                                    align-items-md-center justify-content-center mb-0">

                                <ul class="p-2">
                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-buildings-fill fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Industria</p>

                                    </li>

                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-house-fill fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Construção</p>

                                    </li>

                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-lightning-fill fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Elétrica</p>

                                    </li>
                                </ul>

                            </div>

                            <div class="segmento col-xl-3 col-lg-3 col-md-3 col-sm-6 d-flex
                                    align-items-md-center justify-content-center mb-0">

                                <ul class="p-2">
                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-handbag-fill fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Varejo</p>

                                    </li>

                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-bag-fill fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Confecções</p>

                                    </li>

                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-floppy2-fill fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Informática</p>

                                    </li>
                                </ul>

                            </div>

                            <div class="segmento col-xl-3 col-lg-3 col-md-3 col-sm-6 d-flex
                                    align-items-md-center justify-content-center mb-0">

                                <ul class="p-2">
                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-pencil-fill fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Papelaria</p>

                                    </li>

                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-hearts fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Perfumaria</p>

                                    </li>

                                    <li class="list-unstyled mb-5 text-center segmento_item">
                                        <i class="bi bi-capsule-pill fs-3
                                            text-sm-center">
                                        </i>
                                        <p class="text-center fw-bolder">Farmácia</p>

                                    </li>
                                </ul>

                            </div>
                            
                            


                        </div>







                    </div>

                </section>
                <!--Fim Seção Segmentos-->
                

                <!--Inicio seção clientes-->
                <section>
                    <div class="container-fluid clientes">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 text-center p-5 mt-5">
                                <div class="mb-5">
                                    <i class="bi bi-heart-fill display-3 text-danger"></i>
                                    <h1 class="fw-bold opacity-75 display-6">Clientes felizes em toda a região!</h1>
                                    <h4 class="fw-bold opacity-75">Saiba o que nossos clientes pensam sobre nossa empresa.</h4>
                                </div>
                              
                                <div class="d-lg-inline-block d-md-block">
                                    <a asp-action="Clientes" asp-controller="Home" asp-area=""
                                       class=" btn btn-outline-danger mx-2 my-2 fw-bolder">
                                        Quero conhecer !
                                    </a>
                                    <a asp-action="Clientes" asp-controller="Home" asp-area=""
                                       class=" btn btn-outline-dark fw-bolder">
                                        Quero ser um cliente !
                                    </a>
                                </div>
                            </div>
                            <div class="row align-items-end mt-5">
                                <a class="text-primary text-decoration-none fw-bolder
                                          icon-link icon-link-hover d-flex" href="#informacao">
                                    <i class="bi bi-arrow-left"></i>
                                    Voltar ao topo
                                </a>

                            </div>

                            
                        </div>

                       
                    </div>
                    
                </section>
                <!--Fim seção clientes-->

              
            </main>
        </div>
        
    </div>
    <!--divs p/ auxiliar na responsividade do footer-->
    <div class="d-block d-md-none" style="height: 650px;"></div>
    <div class="d-none d-md-block d-lg-none" style="height: 230px;"></div>
    <div class="d-none d-lg-block" style="height: 282px;"></div>

   
</div>
