@{
    ViewData["Title"] = "Segmentos";
}


<section>

    <div class="container-fluid p-0 me-0 ms-0" id="home" style="margin-top:8.2rem;">
       
            <div class="row justify-content-center mb-3">
                

                <div class="segmento col-xl-12 col-lg-4 col-md-8 col-sm-12">
                    <h2 class="fs-1 text-center text-light text-uppercase mb-1 mt-5">
                        Segmentos em que atuamos
                    </h2>
               


                </div>
                <div class="segmento text-center col-xl-12 col-lg-4 col-md-8 col-sm-12 mt-4 mb-4">
                <a asp-action="" asp-controller="" asp-area="" 
                   class="btn_segmento btn btn-outline-light text-decoration-none text-dark rounded-pill p-3">
                    Conheça melhor
                </a>

                </div>
                

           
            </div>
        <div class="row mb-2">

                <div class="segmento col-xl-4 col-lg-4 col-md-4 col-sm-6 d-flex
                                    align-items-md-center justify-content-center mb-0">

                    <ul class="p-2">
                        <li class="list-unstyled mb-5 text-center">
                            <i class="bi bi-car-front fs-4 text-light border-light border border-2 rounded-circle
                                            p-3 mb-4 text-sm-center">
                            </i>
                            <p class="segmento_item text-center mt-3">Auto Peças</p>

                        </li>

                        <li class="list-unstyled mb-5 text-center">
                            <i class="bi bi-building-fill text-light border-light fs-4 border border-2 rounded-circle
                                            p-3 mb-4 text-sm-center"></i>
                            <p class="segmento_item text-center mt-3">Hotel</p>
                        </li>

                        <li class="list-unstyled mb-1 text-center">
                            <i class="bi bi-hammer fs-4 text-light border-light border border-2 rounded-circle
                                            p-3 mb-4 text-sm-center">
                            </i>
                            <p class="segmento_item text-center mt-3">Ferragens</p>
                        </li>
                    </ul>

                </div>
                <div class="segmento col-xl-4 col-lg-4 col-md-4 col-sm-6 d-flex
                                   align-items-md-center justify-content-center mb-0">
                    <ul class="p-2">
                        <li class="list-unstyled mb-5 text-center">
                            <i class="bi bi-buildings-fill text-light border-light fs-4 border border-2 rounded-circle
                                            p-3 mb-4 text-sm-center"></i>
                            <p class="segmento_item text-center mt-3">Industria</p>
                        </li>
                        <li class="list-unstyled mb-5 text-center">
                            <i class="bi bi-house-fill text-light border-light fs-4 border border-2 rounded-circle
                                            p-3 mb-4 text-sm-center"></i>
                            <p class="segmento_item text-center mt-3">Materiais para construção</p>
                        </li>
                        <li class="list-unstyled mb-1 text-center">
                            <i class="bi bi-lightning-fill text-light border-light fs-4 border border-2 rounded-circle
                                            p-3 mb-4 text-sm-center"></i>
                            <p class="segmento_item text-center mt-3">Materiais elétricos</p>
                        </li>
                    </ul>
                </div>
                <div class="segmento col-xl-4 col-lg-4 col-md-4 col-sm-6 d-flex
                                     align-items-md-center justify-content-center mb-0">
                    <ul class="p-2">
                        <li class="list-unstyled mb-5 text-center">
                            <i class="bi bi-handbag-fill text-light border-light fs-4 border border-2 rounded-circle
                                            p-3 mb-4 text-sm-center"></i>
                            <p class="segmento_item text-center mt-3">Lojas de varejo</p>
                        </li>
                        <li class="list-unstyled mb-5 text-center">
                            <i class="bi bi-bag-fill text-light border-light fs-4 border border-2 rounded-circle
                                            p-3 mb-4 text-sm-center"></i>
                            <p class="segmento_item text-center mt-3">Lojas de confecções</p>
                        </li>
                        <li class="list-unstyled mb-1 text-center">
                            <i class="bi bi-floppy2-fill text-light border-light fs-4 border border-2 rounded-circle
                                            p-3 mb-5 text-sm-center"></i>
                            <p class="segmento_item text-center mt-3">Informática</p>
                        </li>
                    </ul>
                </div>


            </div>
        



       


    </div>
   
    <!--divs p/ auxiliar na responsividade do footer-->
    <div class="d-block d-md-none" style="height: 636px;"></div>
    <div class="d-none d-md-block d-lg-none" style="height: 200px;"></div>
    <div class="d-none d-lg-block" style="height: 281px;"></div>

</section>