@{
    ViewData["Title"] = "Sistemas";
}

<head>
    <title>@ViewData["Title"] - Soma Solucoes Digitais</title>
    <link rel="stylesheet" href="~/css/sistema.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
   <section id="sistemas_titulo">
        <div class="container-fluid" id="sistemas" style="margin-top:8.3rem">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-6 pt-4 pb-3">
                    <h1 class="text-center text-light display-4"><strong>Conheça nossas soluções!</strong></h1>

                </div>
                <div class="col-lg-12 col-md-6 p-4">
                    <p class="text-center text-light fw-semibold fs-4">
                        <bold>Escolha a melhor para você e ﻿teste na sua empresa!</bold>
                    </p>

                </div>

                <a class="text-end text-decoration-none">Designed by Freepik</a>
           </div>

            
           
       </div>
        
   </section>






   <section>
       <div class="container-fluid">
            <div class="row justify-content-center m-5">
                <div class="sistemas_title col-lg-4 col-md-4 justify-content-center">
                    <div class="card text-center shadow p-3 bg-body-tertiary rounded">
                        <div class="card-body">
                            <i class="sistemas_icons bi bi-cart fs-1"></i>
                            <p class="sistemas_text fs-5">
                                Os melhores sistemas de gestão para micro e pequenos varejistas.
                            </p>
                           
                        </div>
                       
                    </div>
                </div>
                <div class="sistemas_title col-lg-4 col-md-4 justify-content-center">
                    <div class="card text-center shadow p-3 bg-body-tertiary rounded">
                        <div class="card-body">
                            <i class="sistemas_icons bi bi-people fs-1"></i>
                            <p class="sistemas_text fs-5">
                                O melhor custo benefício para micro e pequenos varejistas.
                            </p>

                        </div>
                       
                    </div>
                </div>
                <div class="sistemas_title col-lg-4 col-md-4 justify-content-center">
                    <div class="card text-center shadow p-3 bg-body-tertiary rounded">
                        <div class="card-body">
                            <i class="sistemas_icons bi bi-hand-thumbs-up fs-1"></i>
                            <p class="sistemas_text fs-5">
                                Tornando o dia a dia da 
                                sua empresa mais fácil.
                            </p>


                        </div>
                       
                    </div>
                </div>
                <div class="sistemas_title col-lg-12 col-md-6 justify-content-center mt-5">
                    
                        <h1 class="text-center display-6 fw-bold" style="color:#000033;">
                            <strong>
                                Sistemas homologados em toda a região!
                            </strong>
                        </h1>

                </div>

            </div>

       </div>
      

   </section>



   <section>
       <div class="container-fluid">
            <div class="row">
                <div class="sistemas_show col-xl-2 col-lg-2 d-lg-flex d-md-block align-items-stretch">
                    <div class="sistemas_show_1 card text-center shadow bg-body-tertiary rounded m-4 scale-up-center">
                        <div>
                            <img src="~/Img/clippFacil.png" class="card-img-top img-fluid" alt="" />
                        </div>
                        
                        <div class="card-body">
                            
                            <p class="text-secondary fw-bolder fs-6">
                                Gestão 100% online e completa para micro e pequenas empresas

                                Gestão completa e emissão de documentos fiscais em qualquer dispositivo online, 
                                com segurança e agilidade para o dia a dia.
                            </p>
                            <a asp-action="" asp-controller="" asp-area="" 
                                class="btn btn-outline-success rounded-pill fw-bolder">
                                <i class="bi bi-whatsapp mx-1"></i>
                                Solicite aqui
                            </a>

                        </div>

                    </div>
                    <div class="card text-center shadow bg-body-tertiary rounded m-4 scale-up-center">
                        <div>
                            <img src="~/Img/clipp360.png" class="card-img img-fluid" alt="" />
                        </div>

                        <div class="card-body">
                            
                            <p class="text-secondary fw-bolder fs-6">
                                Gestão de micro e pequenas empresas com diversas formas de integração e 
                                gerenciamento online, incluindo armazenamento de dados em nuvem 
                                com toda a segurança.
                            </p>
                            <a asp-action="" asp-controller="" asp-area=""
                               class="btn btn-outline-success rounded-pill fw-bolder">
                                <i class="bi bi-whatsapp mx-1"></i>
                                Solicite aqui
                            </a>

                        </div>

                    </div>
                </div>
                <div class="sistemas_show col-xl-2 col-lg-2 d-lg-flex d-md-block align-items-stretch">
                    <div class="card text-center shadow bg-body-tertiary rounded m-4 scale-up-center">
                        <div>
                            <img src="~/Img/clippPro.png" class="card-img-top img-fluid" alt="" />
                        </div>

                        <div class="card-body">

                            <p class="text-secondary fw-bolder fs-6">
                                A solução ideal para o seu comércio.
                                Gestão de micro e pequenas empresas para qualquer segmento, 
                                com módulos fiscais e controle total do seu negócio.
                            </p>
                            <a asp-action="" asp-controller="" asp-area=""
                               class="btn btn-outline-success rounded-pill fw-bolder">
                                <i class="bi bi-whatsapp mx-1"></i>
                                Solicite aqui
                            </a>

                        </div>

                    </div>
                    <div class="card text-center shadow bg-body-tertiary rounded m-4 scale-up-center">
                        <div>
                            <img src="~/Img/clippCheff.png" class="card-img img-fluid" alt="" />
                        </div>

                        <div class="card-body">

                            <p class="text-secondary fw-bolder fs-6">
                                Solução completa para bares, restaurantes e similares
                                Gestão exclusiva para restaurantes, bares, lanchonetes. 
                                Integração total com o IFood e controle de comandas, mesas, 
                                entregas e gerenciamento da operação.
                            </p>
                            <a asp-action="" asp-controller="" asp-area=""
                               class="btn btn-outline-success rounded-pill fw-bolder">
                                <i class="bi bi-whatsapp mx-1"></i>
                                Solicite aqui
                            </a>

                        </div>

                    </div>
                </div>
                <div class="sistemas_show col-xl-2 col-lg-2 d-lg-flex d-md-block align-items-stretch">
                    <div class="card text-center shadow bg-body-tertiary rounded m-4 scale-up-center">
                        <div>
                            <img src="~/Img/clippMei.png" class="card-img-top img-fluid" alt="" />
                        </div>

                        <div class="card-body">

                            <p class="text-secondary fw-bolder fs-6">
                                Solução para facilitar e acelerar a gestão do negócio MEI
                                Facilidade e rapidez na gestão do seu negócio MEI, garantindo maior lucratividade.
                            </p>
                            <a asp-action="" asp-controller="" asp-area=""
                               class="btn btn-outline-success rounded-pill fw-bolder">
                                <i class="bi bi-whatsapp mx-1"></i>
                                Solicite aqui
                            </a>

                        </div>

                    </div>
                    <div class="card text-center shadow bg-body-tertiary rounded m-4 p-5 scale-up-center">
                        <div>
                            <img src="~/Img/clippService.png" class="card-img img-fluid" alt="" />
                        </div>

                        <div class="card-body">

                            <p class="text-secondary fw-bolder fs-6">
                                Perfeito para micro e pequenas empresas de conserto e manutenção
                                Gestão específica para empresas que prestam serviço, 
                                com controle fiscal e acompanhamento das ordens de serviço diariamente.
                            </p>
                            <a asp-action="" asp-controller="" asp-area=""
                               class="btn btn-outline-success rounded-pill fw-bolder">
                                <i class="bi bi-whatsapp mx-1"></i>
                                Solicite aqui
                            </a>

                        </div>

                    </div>
                </div>
              

            </div> 
       </div>
        <div>
            <a class="text-primary text-decoration-none fw-bolder
                                          icon-link icon-link-hover" href="#sistemas_titulo">
                <i class="bi bi-arrow-left"></i>
                Voltar ao topo
            </a>
        </div>
   </section>
    <!--divs p/ auxiliar na responsividade do footer-->
    <div class="d-block d-md-none" style="height: 650px;"></div>
    <div class="d-none d-md-block d-lg-none" style="height: 290px;"></div>
    <div class="d-none d-lg-block" style="height: 290px;"></div>
</body>
