@{
    ViewData["Title"] = "Sobre Nós";
}
<head>
    <title>@ViewData["Title"] - Soma Solucoes Digitais</title>
</head>
<body>
    <div class="container-fluid" style="margin-top:8.2rem" ;>
        <div class="row">
            <div class="col me-0 ms-0">
                <main>
                    <!--Seção SobreNos-->
                    <section class="kenburns-top">
                        <div class="container-fluid" id="sobrenos">
                            <div style="height:20px;"></div>
                            <div class="row justify-content-lg-end justify-content-sm-center">



                                <div class="info_container_title col-lg-4 col-md-4 col-sm-4 d-block mt-5
                                        text-center p-1 bg-dark text-light
                                        text-opacity-75 me-3">

                                    <h1 class="fs-1">Soma Soluções Digitais</h1>
                                    <p class="fw-semibold">

                                        Desenvolvendo soluções para o seu negócio
                                    </p>
                                </div>

                            </div>
                            <div style="height:150px;"></div>

                            <div class="row align-items-end mt-5 mb-1 me-0 ms-0">
                                <div class="col-12 d-flex info_container">

                                    <div class="text-lg-start text-center text-bg-light text-dark text-opacity-75">
                                        <h3>Quem somos</h3>
                                        <p class="fw-semibold lh-base">
                                            Somos uma empresa que desenvolve soluções tecnológicas
                                            para a gestão de micro e pequenas empresas do comércio.
                                        </p>
                                        <p class="fw-semibold lh-base">
                                            Nossa especialidade é facilitar o dia a dia de diversos segmentos,
                                            entregando excelência em automação comercial, sempre atentos às novidades e
                                            necessidades dos usuários.
                                        </p>

                                        <p class="fw-semibold lh-base">
                                            Prezamos pelo compromisso que assumimos
                                            com nossos clientes. Nossa equipe é empenhada em oferecer o melhor atendimento
                                            e desenvolver o que há de mais moderno em gestão comercial.
                                        </p>

                                    </div>

                                </div>


                            </div>

                        </div>
                    </section>
                    <!--Fim Seção SobreNos-->
                </main>

            </div>

        </div>
        <!--divs p/ auxiliar na responsividade do footer-->
        <div class="d-block d-md-none" style="height: 800px;"></div>
        <div class="d-none d-md-block d-lg-none" style="height: 425px;"></div>
        <div class="d-none d-lg-block" style="height: 309px;"></div>
    </div>

</body>

