
:root {
    --color-bg-home: #e6e6e6;
    --color-bg-info-itens: #fff;
    --color-bg-info-container: #ddd;
    --color-bg-info-container-title: #000;
    --color-bg-depoimentos: #00061a;
    --color-bg-suporte: #fff;
    --color-btn-zap: #fff;
    --color-btn-zap-hover: #008000;
    --color-btn-segmento-item: #000033;
    --color-btn-segmento-item-hover: #000;
    
    --color-segmento-item: #000033;
    --color-info-itens-list: #000099;
    --color-info-itens-list-hover: #000066;
}

/*------Seção Home------*/
#home {
    background-color: #f2f2f2;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}


.btn_segmento_item {
    color:var(--color-btn-segmento-item);
    background-color: transparent;
    border: none;
}

    .btn_segmento_item:hover {
        color: #000033;
        border-bottom: 1px solid #000033;
        background-color: transparent;
    }

    .segmento_title {
        color: #000033;
    }


.btn_zap:hover {
    background-color: var(--color-btn-zap);
    color: var(--color-btn-zap-hover);
}


/*------Fim Seção Home------*/



/*------Seção Informacao------*/
.informacao {
    background-image:url("../Img/informacao.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width:100% !important;
    height:95vh;
    margin:0;
    padding-top:9.4rem;
}

.informacao_itens {
    background-color: var(--color-bg-info-itens);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    height: auto;
    margin: 0;
   
}





.informacao_itens_list {
    color: var(--color-info-itens-list);
}

    .informacao_itens_list:hover {
        color: var(--color-info-itens-list-hover);
       
        cursor: default;
        
    }



.cookies {
    background-color: #fff;
    background-position: center;
    background-size:initial;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 10vh;
}

/*------Fim seção informação------*/


/*------Seção Clientes------*/
.clientes{
    background-color:#eeeeee;
    height:80vh;
    width:100%;
}

/*------Fim Seção Clientes------*/


/*------Quem Somos------*/
#quemSomos {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../Img/quemSomos_2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: 0;
   
}

.quemSomos_content {
    color: #fff;
}
/*------Fim Quem Somos------*/


/*-----Seção Cookies------*/
.cookies-msg {
    display: none;
    opacity: 0.9;
    border-radius: 10px;
}

.cookies-msg.mostrar {
        display: block;
}

.btn-cookies{
    padding:8px 30px;
    transition: .2s;
}

.btn-cookies:hover{
    transform:scale(0.9);
}

/*------Fim Seção Cookies------*/



 

/*----Css créditos da freepik------*/
.freepik{
    font-size:12px;
}

/*----Fim Css créditos da freepik------*/










