
:root {
    --color-bg-home: #e6e6e6;
    --color-bg-info-itens: #fff;
    --color-bg-info-container: #ddd;
    --color-bg-info-container-title: #000;
    --color-bg-depoimentos: #00061a;
    --color-bg-suporte: #fff;
    --color-btn-zap: #fff;
    --color-btn-zap-hover: #008000;
    --color-btn-segmento-item: #000033;
    --color-btn-segmento-item-hover: #000;
    
    --color-segmento-item: #000033;
    --color-info-itens-list: #000099;
    --color-info-itens-list-hover: #000066;
}

/*------Seção Home------*/
#home {
    background-color: #f2f2f2;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}


.btn_segmento_item {
    color:var(--color-btn-segmento-item);
    background-color: transparent;
    border: none;
}

    .btn_segmento_item:hover {
        color: #000033;
        border-bottom: 1px solid #000033;
        background-color: transparent;
    }

    .segmento_title {
        color: #000033;
    }


/*------Fim Seção Home------*/



/*------Seção Informacao------*/
.informacao {
    background-image:url("../Img/informacao.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width:100% !important;
    height:95vh;
    margin:0;
    padding-top:9.4rem;
}

.informacao_itens {
    background-color: var(--color-bg-info-itens);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    height: auto;
    margin: 0;
   
}

.btn_zap:hover {
    background-color: var(--color-btn-zap);
    color: var(--color-btn-zap-hover);
}

.informacao_itens_list {
    color: var(--color-info-itens-list);
}

    .informacao_itens_list:hover {
        color: var(--color-info-itens-list-hover);
       
        cursor: default;
        
    }

.scale-up-center:hover {
    -webkit-animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*------Fim seção informação------*/


/*------Seção Clientes------*/
.clientes{
    background-color:#eeeeee;
    height:80vh;
    width:100%;
}

/*------Fim Seção Clientes------*/











.titulo_1 {
    animation-name: moverParaDireita;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.p_1{
    animation-name: moverParaEsquerda;
    animation-duration: 3.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}


/*----Css créditos da freepik------*/
.freepik{
    font-size:12px;
}

/*----Fim Css créditos da freepik------*/








/*-----Animações CSS------*/
/*animação títuto*/
@keyframes moverParaDireita {
    0%{
        opacity:0;
        transform:translateX(-60px);
    }

    100%{
        opacity:1;
        transform:translateX(0);
    }

}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moverParaEsquerda{
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moverParaCima {
    0% {
        opacity: 0;
        transform:translateY(30px);
    }

    100% {
        opacity: 1;
        transform:translateY(0);
    }
}

@keyframes moverSegmentos{
   
    0%{
        transform:translateY(300px);
    }

   
}

@keyframes moverParaCimaInfo_Container {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes AparecerInfo_Container_title {
    0% {
        opacity: 0;
        
    }

    100% {
        opacity: 1;
        
    }
}


@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(0.8) translateY(0);
        transform: scale(0.8) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.04) translateY(-15px);
        transform: scale(1.04) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}


/*-----Fim animações------*/




