
#sistemas {
    background-image: url("../Img/informacao.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    height: auto;
    margin: 0;
}

.sistemas_show {
    background-position: center;
    background-size: cover;
    width: 100% !important;
    height: auto;
    margin: 0;
}

    .sistemas_show img {
        width: 200px;
        position: relative;
    }

.sistemas_icons {
    color: #000033;
}

.sistemas_text {
    color: #000033;
    font-weight: 400;
}


